* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
}

body {
    font-family: 'Roboto', sans-serif;
    /* overflow:hidden; */
}

nav {
    list-style: none;
}
a {
    text-decoration: none;
    opacity: 0.75;
    color: white;
}
a:hover {
    opacity: 1;
}
a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    /* background-color: #6FA1A8; */
    background-color: #649EA2;
    opacity: 1;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
/* header */
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fade-in 0.5s forwards;
    opacity: 0;
    color: white;
}
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}
header h3 {
    font-family: 'Lexend Mega', sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}
header nav li {
    margin: 0 15px;
}

/* hero */
 .hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
 }
 .hero .bg-img {
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 100%;
     background-size: cover;
     z-index: -1;
     background-color: #649EA2;
 }
 .hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-family: 'Lexend Mega', sans-serif;
 }
 .hero h3 {
     font: normal 28px; 
     margin-bottom: 40px;
 }

 .hero a.btn {
     padding: 20px 46px;
 }
 /* ******************************** */
 .container {
     padding-top: 70px;
 }
 .header {
    margin-bottom: 30px; 
    text-align: center;
 }
 .header p {
     font-style: italic;

 }
 .title {
    font-size: 35px; 
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #649EA2;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /*  */
.item {
  position: relative;
  overflow: hidden;
  width 100%;
  text-align: center;
  box-shadow: 0 0 5px(rgba 0, 0, 0, 0.15);
}

.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #FD957A;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  .item * {
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
  }
  .item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
  }
  
  .item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  /* ************************** */

  .banner_logo {
    font-family: 'Lexend Mega', sans-serif;
  }
  .banner p {
    color: white;
  }
  .btn-white {
  float: right;
  font-size: 16px;
  line-height: 46px;
  margin: 20px 0px 20px 30px;
  padding: 0px 45px;
  border: solid white 1px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  }
/* ***************************** */
.packages {
  background:#f2f2f2;
}
  .box_container {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  
  .box {
    padding: 3%;
    width: 33%;
    margin: 1%;
    color: black;
    text-align: center;
    background: white;
    background-position: center; 
    background-size: cover; 
    color: white;
}
  .box h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.box .fa {
  font-size: 45px;
  color: #FD957A;
}
/* ******************************** */

/* Slideshow container */
.container-slideshow {
  background: white;
  padding: 2rem;
}
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  color: black;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

/* Caption text */
.slidetext {
  font-size: 2vw;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slidetext p {
  font-size: 75%;
}
.slideshow_heading {
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 2px;
  background-color: #fecabc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #FD957A;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}  
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* ****************************** */
 .banner {
    position: relative;
    height: 300px;
    background-image: linear-gradient( #649EA2,	 #649EA2);
  }
  .banner h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
  }
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }
  .banner a.btn {
    padding: 15px 30px;
    background-color: 	#FD957A;
}
  /* *************************************** */

  footer {
      text-align: center;
      padding: 40px;
  }
  footer .fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    padding: 6px;
    border: 1px solid black;
    text-align: center;
  }

  